#! /usr/bin/env bash

# exit on error
set -e
# exit on undefined variable
set -u
# exit if any statement returns a non-true return value
set -o pipefail

echo "direnv active"
export DIRENV_ROOT="$(echo $PWD)"
export PATH="$DIRENV_ROOT/bin:$PATH"
export DEVSETUP_CONFIG_LOCATION="$DIRENV_ROOT/.config/devsetup/"

